<div class="row">
  <h3 class="text-center">プロフィール編集</h3>
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages', user: @user %>

      <div class="form-group">
        <%= f.label :profile_image, 'プロフィール画像', class: 'form-labal' %>
        <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, fallback: 'no_image.jpg', size: '70x70', class: 'rounded-pill' %>
        <%= f.attachment_field :profile_image, placeholder: 'ファイルを選択' %>
      </div>

      <div class="form-group">
        <%= f.label :introduction, '紹介文', class: 'form-labal' %>
        <%= f.text_field :introduction, class: 'form-control' %>
      </div>

      <div class="form-group mt-5">
        <%= f.label :name, '名前', class: "form-label" %>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "おみそ" %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス', class: "form-label" %>
        <%= f.email_field :email, class: 'form-control', placeholder: "example@exmple.com" %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード', class: 'form-labal' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード確認', class: 'form-labal' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="action text-center">
        <%= f.submit "更新", class: 'btn btn-info btn-block mt-3' %>
      </div>
    <% end %>

    <div class="text-center back">
      <%= link_to "戻る", user_path(@user), class: 'btn btn-success btn-sm' %>
    </div>

    <div>
      退会をご希望の方は<%= link_to "こちら", withdrawal_path(current_user) %>
    </div>
  </div>
</div>