<div class="row">
  <div class="col-md-3">
    <% if current_user?(@user) %>
      <h2 class="text-center"><%= current_user.name %></h2>
    <% elsif %>
      <h2 class="text-center"><%= @user.neme %></h2>
    <% end %>

    <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, fomat: 'jpeg',
                                    fallback: "no_image.jpg", size: "80x80", class: 'rounded-pill' %><br>

    <%= @user.introduction %><br>
    <% if current_user?(@user) %>
      <%= link_to ' ', edit_user_path, class: 'fas fa-user-edit btn btn-info btn-block' %>
    <% end %>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <h2>投稿一覧</h2>
    <%= render 'posts/index', posts: @user.posts %>
  </div>

</div>
