<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container header">

      <div class="logo">
        <%= link_to "Comedy World", root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav list ml-auto">
          <% if signed_in? %>
            <li class="nav-item">
              <%= link_to "投稿する", new_post_path, class: 'fas fa-pen nav-link pl-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user), class: 'fas fa-user-circle nav-link pl-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザー", users_path, class: 'fas fa-users nav-link pl-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "タイムライン", posts_path, class: 'fas fa-comments nav-link pl-3' %>
            </li>
            <li>
              <%= link_to "サインアウト", signout_path, method: :delete, class: 'fas fa-sign-out-alt' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ホーム", root_path, class: "fas fa-home nav-link pl-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "サインアップ", signup_path, class: "fas fa-user-plus nav-link pl-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "サインイン", signin_path, class: "fas fa-sign-in-alt nav-link pl-3" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>